
.section-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.section-container > .album-container{
    border: 1px solid;
    width: 300px;
    height: auto;
}
.section-container > .album-container > audio{
    display: none;
}
.section-container > .album-container > .control-container{
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    margin: 6px;
}
.section-container > .album-container > .control-container > i:hover{
    cursor: pointer;
}
.section-container > .album-container > img{
    width: 290px;
    height: 300px;
    margin: 5px;

}

